#root {
  padding: 2rem;
  align-items: flex-start;
  text-align: start;
}

.page-header {
  top: 2%;
}

.nav {
  display: inline-block;
}

.navbar-element {
  margin: 2%;
}

.current-page {
  margin: 2%;
  color: #3d46ff;
}

