#root {
  padding: 2rem;
  align-items: flex-start;
  text-align: start;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.page-header {
  top: 2%;
}

.navbar-element {
  margin: 1%;
}

.current-page {
  margin: 1%;
  color: #3d46ff;
}